In [2]:
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from password import password

engine = create_engine('postgres://postgres:'+password+'*@localhost:5432/sql-challenge-Kaveh_Amini')
conn = engine.connect()

In [6]:
salaries = pd.read_sql("SELECT * FROM salaries", conn)
salaries.head()

   emp_no  salary   from_date     to_date
0   10001   60117  1986-06-26  1987-06-26
1   10002   65828  1996-08-03  1997-08-03
2   10003   40006  1995-12-03  1996-12-02
3   10004   40054  1986-12-01  1987-12-01
4   10005   78228  1989-09-12  1990-09-12

In [5]:
for record in departments:
    print(records)

NameError: name 'departments' is not defined